#produto{
    
    width: 250px;
    height: 200px;
}
h4{
    font-weight: 600;
}
.jumbotron {
    margin-bottom: 0px;
    height: 250px;
    margin-bottom: 0.5cm;
    background-color:#1E90FF;
}
#imagem-categoria{
    align-content: center;
    width: 125px;
    height: 125px;
}
#titulo-categoria{
    font-weight: 600;
    align-content: center;
}